.main {
  display: flex;
  flex-direction: column;
}

.gameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  margin: 0 -5px;
}

.user {
  background: #C0C0C0;
}

.addGame {
  background-color: #2E8B57;
  border: none;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-top: 150px;
  align-self: flex-end;
}
