.gameBoard {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 150px;
  height: 150px;
  padding-top: 20px;
}

.user2 {
  text-align: right;
}
