.gameItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 100px;
  margin: 0 5px;
  padding: 5px;
  background: #A9A9A9;
}

.user2 {
  border-top: solid 1px black;
}

.time {
  align-self: flex-end;
}
