.Game {
  height: 605px;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #DCDCDC;
}

.timer {
  text-align: center;
  margin-top: 40px;
}

.surrender {
  background-color: #2E8B57;
  border: none;
  color: #FFFFFF;
  align-self: center;
  margin-top: 40px;
}
