.gameItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 100px;
  margin: 0 5px;
  padding: 5px;
}

.open {
  color: #FFFFFF;
  background: #808080;
}

.in-progress {
  color: #FFFFFF;
  background: #A9A9A9;
}

.finished {
  background: #C0C0C0;
}

.user1 {
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

.winner {
  color: #D2691E;
}

.time {
  color: #000000;
  align-self: flex-end;
}
